@charset "utf-8";
/* CSS Document */

body{
	background:#E9ECEF;
	color: #5A6169;
}
.container{
	padding-top: 5rem;
}
.container-fluid{
	background-color: #fff;
}
form{ 
	width: 100%;
}
.primary-color{
	color: #C4183C
}
.primary-bg{
	background-color: #C4183C;
}
.text-white{
	color: #fff;
}
.text-black{
	color: #000;
}
.text-gray{
	color: #5A6169;
}
.text-bold{
	font-weight: bold;
}
.text-lighter{
	font-weight: lighter;
}
.inline-block{
	display: inline-block;
}
.inline-flex{
	display: inline-flex;
}
.hidden{
	display: none;
}
.float-left{
	flaot: left;
}
.float-right{
	float: right;
}
.light_weight{
	font-weight: 400;
}
.pb-2{
	padding-bottom: 2rem!important;
}
#heading{
	text-align: left;
	margin-bottom: 2rem;
}
#heading h1{
	font-size: 5rem;
	padding: 2rem;
	font-family: sans-serif;
    line-height: 0.9;
}
.error_message{   
	background: #e84c4c;
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
}
.main_content{ 
	margin-top: 3rem;
	margin-bottom: 3rem;
	text-align: center;
}
.label{
	font-size: 1.2rem;
}
.input{
	text-align: left;
	margin-bottom: 3rem;
}

.minutes > input, .seconds > input{
	width:6rem;
}

.minutes > input{
	text-align: right;
}

.minutes{
	float: left;
}

.small_text{
	font-size: 14px;
    color: #7d7d7d;
}

.error{
	color: #fd5858;/*#9F2729;*/
}
.success{
	color: #337855;;/*#1c9859;*/
}
.border_gray{
	border-color: #ced4da;
}
.border_red{
	border-color: #9F2729; 
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	width: 12rem;
    color: #fff;
    background-color: #C4183C;
	border-color: #C4183C;
	padding: 1rem;
}

.btn-primary-outline, .btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline:focus {
	width: 12rem;
    color: #C4183C;
    background-color: #fff;
	border-color: #C4183C;
	padding: 1rem;
}

.url_container{
	text-align: left;
	padding-left: 0;
	/*background: #eeeeee;
	color: #3e3e3e; */
}
.url_container .card{
	text-align: center;
}
#presenter_url span, #audience_url span{
	font-weight: 400;
}
#presenter_url p, #audience_url p{
	padding: 1rem;
	background: #fd5858;
	color: #fff;
}

#presenter_url a, #audience_url a{
	color: #fff;
}

#view_url{
	margin-bottom: 3rem;
}

.card{
	border-radius: 1rem;
	font-weight: bold;
}
.card-header:first-child{
	border-radius: 1rem 1rem 0px 0px;
}

.card-header{
	color: #fff;
}

/* --- Yoututbe Player Style ---*/

#YT_Player_Container{
	width: 100%;
}

#YT_Player_Container span{
	font-weight: lighter;
}

/* ----------------------- */

.overlay{
	position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}
.modal_window{
	width: 50%;
	margin-left:25%;
	padding-bottom: 2rem;
    position: fixed;
    top: 30%; 
    background-color: #eeeeee;
    border-radius: 1.5rem;
    text-align: center;
    z-index: 11;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0,0,0,.12);
}

#modal_topic_container{
	background: #005eB8;
    margin-bottom: 3rem;
	border-radius: 5px 5px 0px 0px;
	border-radius: 1.5rem 1.5rem 0 0;
}
#modal_topic{
	margin: 0 auto;
	padding: 3rem;
	color: #fff;
	border-radius: 1.5rem 1.5rem 0 0;
}
#modal_btn{
	margin-top: 3rem;
/*    width: 10rem;
    height: 3rem;
    font-size: larger;
	background: #005eB8;
	border: #005eB8;*/
}
.modal_error{
	height: 25px;
	color: #3b3b3b;
} 

.message{
	width: 50rem;
	margin-left: -25rem;
    left: 50%;
    text-align: center;
    position: absolute;
   /* padding: 3rem;*/
    background: #fff;
    color: #fff;
    z-index: 10;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0,0,0,.12);

}
.radio{
  color:#777;
  display:inline-block;
  margin-right:20px;
}

span.big {
  /*  background-color: #22262B; */
	border: 1px solid #22262b;
    border-radius: 50% 50% 50% 50%;
    display: inline-block;
    height: 2rem;
    margin-bottom: -11px;
    margin-right: 9px;
    padding: 8px;
    position: relative;
    top: -3px;
    width: 2rem;
}
.message_text{
	padding: 3rem;
    border-radius: 5px 5px 0px 0px;	
}
.sub_message{
	color: #3b3b3b;
    padding: 3rem;
}
.close_browser{
/*	background: #01579B;
	border-color: #01579B;
	color: #fff;
	margin: 1rem;*/
}
span.small {
    border-radius: 50% 50% 50% 50%;
    display: block;
    height: 100%;
    transition: background 0.4s ease 0s;
    width: 100%;
}

input[type="radio"]:checked + label {
    color: #000000;
}
input[type="radio"]:checked + label span.small {
    background-color: #C4183C; /* #3b3b3b; /* #4bafff; */
    opacity: 1;
}
/*-------- Radio Button Background Colors --------*/
/*
label[for="r1"] .big{
	background: #ffc8c5;
}

label[for="r2"] .big{
	background: #ffe1e1;
}

label[for="r3"] .big{
	background: #fff3f3;
}

label[for="r4"] .big{
	background: #ffffff;
}

label[for="r5"] .big{
	background: #eefff2;
}

label[for="r6"] .big{
	background: #dcffdf;
}

label[for="r7"] .big{
	background: #b7edbf;
}*/

/*-------------------------------------------------*/

#resource_info span{
	font-weight: lighter;
}
#uco_logos{
	text-align: center;
	margin-top: -10rem;
}
#uco_logos img{
	width: 5rem;
	margin-left: 3rem;
}

.footer{
	text-align: center;
	background-color: #5A6169;
	height: 100px;
	width: 100%;
	padding: .6rem;
/*	position: absolute;
	bottom: 0;
	left: 0; */
}
.footer_logo{
	height: 5rem;
	margin-left: 2rem;
}
.footer_logo_small{
	height: 3rem;
	margin-left: 2rem;
}